LETUS_API_URL=https://letusapp.azurewebsites.net/api
GOOGLE_WEB_CLIENT_ID=401292332695-12mu9ji997o3qa0fs75aggr6cj8sg7rc.apps.googleusercontent.com
FIREBASE_API_KEY=AIzaSyBbclyMM6oklefnIr0Oa6p9co3DP7-VQC4
FIREBASE_AUTH_DOMAIN=letusnlp.firebaseapp.com
FIREBASE_PROJECT_ID=letusnlp
FIREBASE_STORAGE_BUCKET=letusnlp.appspot.com
FIREBASE_APP_ID=1:279208337481:web:e57c7c5cc4d652ac015f98